@import "./mixin";
@include font('BalooBhaijaan', 'BalooBhaijaan-Regular', normal, normal);

.gamify {
  &__header {

  }
  
  &__body {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem(100px);
  }

  &__footer {

  }

}

@import "./mobile";