$prefix: (
	'-webkit-',
	'-moz-',
	'-ms-',
	'-o-',
	''
) !default;

$black: #242424 !default;
$white: #ffffff !default;
$orange: #ea6016 !default;
$blue: #11bcc4 !default;

$staticDir: '/static/';

$rem-pixel: 16px !default;
$rem-pixel-md: 14px !default;
// $rem-pixel-sm: 12px !default;
$rem-pixel-sm: 8px !default;
$rem-pixel-xs: 16px !default;
$rem-pixel-sony: 9px !default;

@mixin transform($parameters...) {
  @each $i in $prefix {
    #{$i}transform: $parameters;
  }
}

@mixin apply-prefix($declarations) {
  @each $property, $value in $declarations {
    @each $i in $prefix {
      #{$i$property}: $value;
    }
  }
}

@mixin transition($parameters...) {
  @each $i in $prefix {
    #{$i}transition: $parameters;
  }
}

@mixin box-shadow($shadow, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $shadow;
    -moz-box-shadow:inset $shadow;
    box-shadow:inset $shadow;
  } @else {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
  }
}



@mixin clearfix {
	&:before {
			content: "";
			display: table;
	}
	&:after {
			content: "";
			display: table;
			clear: both;
	}
}

@mixin font($font-family, $font-file, $weight, $style) {
  @font-face {
    font-family: $font-family;
		src: url($staticDir + 'fonts/' + $font-file+'.eot');
		src: url($staticDir + 'fonts/' + $font-file+'.eot?#iefix') format('embedded-opentype'),
				url($staticDir + 'fonts/' + $font-file+'.woff2') format('woff2'),
				url($staticDir + 'fonts/' + $font-file+'.woff') format('woff'),
				url($staticDir + 'fonts/' + $font-file+'.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin truncatLine($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@function calcHeight169($width) {
  @return $width * 9 / 16;
}

@function calcWidth169($height) {
  @return $height * 16 / 9;
}

/******* PX to REM ********/
@function em($size) {
  $remSize: $size / $rem-pixel;
  @return #{$remSize}em;
}
@function rem($size) {
    $remSize: $size / $rem-pixel;
    @return #{$remSize}rem;
}
@function rem-sm($size) {
    $remSize: $size / $rem-pixel-sm;
    @return #{$remSize}rem;
}
@function rem-xs($size) {
    $remSize: $size / $rem-pixel-xs;
    @return #{$remSize}rem;
}


@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}